<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Twój koszyk</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h2>Twój koszyk</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Weight [g]</th>
            <th>Price [zł]</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${cartProducts}">
            <td th:text="${product.name}">Nazwa</td>
            <td th:text="${product.weight}">Waga</td>
            <td th:text="${product.price}">Cena</td>
        </tr>
        </tbody>
    </table>
    <a href="user/products" class="btn btn-primary">Powrót do produktów</a>
</div>
</body>
</html>
