* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-style: dashed;
  margin: 20px 0;
  border: 2px solid black;
}
th,
td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #4caf50;
  color: white;
}
.highlight {
  background-color: #fc443a;
}
.nested-table {
  width: 80%;
  margin: auto;
}
mark {
  background-color: #4caf50;
}
footer {
  display: flex;
  width: 100%;
  justify-content: center;
}
#slask-logo {
  height: 100pt;
}
body {
  transition: background-color 0.5s ease;
}
#club-summary {
  font-weight: bold;
}
summary {
  font-style: italic;
  font-variant: small-caps;
  font-size: large;
}
p:first-child {
  background-color: yellow;
}
details:nth-child(3) {
  color: rgb(4, 51, 4);
}
table:last-child {
  color: rgb(69, 0, 231);
}
:target {
  border: 2px solid darkorange;
  background-color: beige;
}
