* {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
a:hover {
  color: red;
}

a:active {
  background-color: rgb(96, 95, 94);
}

/* a:visited {
  color: blue;
} */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 1rem;
}
.nav-div {
  display: flex;
  width: 50%;
  gap: 10%;
}
section {
  display: flex;
  justify-content: center;
  padding: 1%;
  gap: 10px;
}
.wroclaw-jpg {
  width: 400pt;
  float: right;
}
#city-monuments {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
li {
  font-size: 13pt;
  padding: 2px;
}

li:first-of-type {
  color: rgba(249, 0, 0, 0.822);
  font-size: 20px;
}

#map-download {
  width: 80px;
  display: flex;
}

body {
  background-image: url("https://ocdn.eu/pulscms-transforms/1/G0ek9kpTURBXy9hZmZmNGU1ODBjZmI5NGI4YTRmZWZlNjIxMTNjMzgzYy5qcGeTlQPNAe4AzRvHzQ-glQLNBLAAw8OTCaY2Y2Q1MDcG3gABoTAB/wroclaw.jpeg");
  background-size: cover;
}

@media (max-width: 1530px) {
  body {
    background-size: 200px;
    background-repeat: repeat;
  }
}

#city-description {
  color: white;
}
