<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="_shared/_layout">
<title layout:fragment="title">Details</title>
<body>
<div layout:fragment="content">
    <h1>Product details</h1>
    <table class="display table table-bordered" style="width:800px" th:object="${product}">
        <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>id</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>name</td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td>weight</td>
            <td th:text="*{weight}"></td>
        </tr>
        <tr>
            <td>price</td>
            <td th:text="*{price}"></td>
        </tr>
        <tr>
            <td>category</td>
            <td th:text="*{category.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>