<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="_shared/_layout">
<title layout:fragment="title">Edit product</title>
<body>
<div layout:fragment="content">
<h1>Edit product</h1>
<form action="#" th:action="@{/product/edit}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}" />
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Weight: <input type="text" th:field="*{weight}" /></p>
    <p>Price: <input type="text" th:field="*{price}" /></p>
    <p>Category:
        <select th:field="*{category.id}">
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}">
            </option>
        </select>
    </p>
    <p><input type="submit" value="Modify" /> <input type="reset" value="Reset" /></p>
</form>
</div>
</body>
</html>
